@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome my friends!</h1>

<p>My Instagram: beckluca1! Message me if you're hot</p>

<p>Eine Folge des von der Globalisierung beständig vorangetriebenen gesellschaftlichen Wandels ist die zunehmend Bedeutung der Mobilität.
Die von Millionen von Menschen täglich zurückgelegten Strecken stellen eine enorme Belastung für unsere heutige Infrastruktur da.
Das weltweit verbreitetste Fortbewegungsmittel, das Automobil, verliert aufgrund zunehmender Staus, Kraftstoffpreisen und den hohen Emissionswerten von Verbrennermotoren aus ökologischer und ökonomischer Sicht an Attraktivität.
Fortschritte in der Entwicklung von künstlichen Intelligenzen und neuronalen Netzen gelten als Hoffnungsträger. Sie könnten diesem Trend entgegenwirken und auch zukünftig das Auto als erwägenswertes Mittel der Fortbewegung erhalten.
Ein aktuelles Forschungsbeispiel ist der Einsatz von neuronalen Netzen zur Erfassung der Verkehrslage, wodurch Autos zukünftig effizienter und schneller durch unsere Straßen manövrieren könnten. Ferner könnten sie Grundsteine des lang ersehnten autonome Fahren sein. Ein äußerst attraktiver Gedanke, da der Fahrer zukünftig nicht aktiv das Auto steuern müsste und somit anderen Tätigkeit nachgehen könnte.
Ein zentraler Aspekte dieser neuronalen Netze ist die Erkennung und das Auslesen von Verkehrsschilder. Diese sind meist am Straßenrand aufgestellt und enthalten wichtige Informationen über die aktuelle Verkehrssituation. Die Aufnahme diese Informationen über Kameras und Sensoren, sowie die Auswertung der gewonnen Daten in Echtzeit stellt jedoch eine Herausforderung dar. Weitere ausgiebige Forschung ist von Nöten, um Probleme wie beispielsweise die konstante Erkennung von Schildern trotz unterschiedlicher Größen und Formen zu lößen.</p>

